[submodule "pack/n1t0r/start/vim-repeat"]
	path = pack/n1t0r/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/n1t0r/start/vim-go"]
	path = pack/n1t0r/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/n1t0r/start/nvim-lspconfig.nvim"]
	path = pack/n1t0r/start/nvim-lspconfig.nvim
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/n1t0r/start/cmp-nvim-lsp.nvim"]
	path = pack/n1t0r/start/cmp-nvim-lsp.nvim
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/n1t0r/start/cmp-buffer.nvim"]
	path = pack/n1t0r/start/cmp-buffer.nvim
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/n1t0r/start/cmp-path.nvim"]
	path = pack/n1t0r/start/cmp-path.nvim
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/n1t0r/start/cmp-cmdline.nvim"]
	path = pack/n1t0r/start/cmp-cmdline.nvim
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "pack/n1t0r/start/nvim-cmp.nvim"]
	path = pack/n1t0r/start/nvim-cmp.nvim
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/n1t0r/start/cmp-vsnip.nvim"]
	path = pack/n1t0r/start/cmp-vsnip.nvim
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "pack/n1t0r/start/vim-vsnip.nvim"]
	path = pack/n1t0r/start/vim-vsnip.nvim
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/n1t0r/start/codeium.nvim"]
	path = pack/n1t0r/start/codeium.nvim
	url = https://github.com/Exafunction/codeium.nvim.git
[submodule "pack/n1t0r/start/plenary.nvim"]
	path = pack/n1t0r/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
